tbody tr:nth-child(odd) {
  background-color: rgba(120, 120, 120, 0.1);
}

.title {
  text-align: center;
}

p, .sources {
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(220, 220, 220, 0.25);
  margin: 15px 0px;
}

p:has(.map) {
  background-color: transparent;
}

p:has(.annotation){
  background-color: transparent;
}

.annotation, .annotation p, .map p {
  background-color: transparent;
}

h1, h2, h3, h4 {
  color: rgb(222, 75, 97);
  font-family: "Verdana";
  font-weight: bold;
}
